@using TravelClient.Models;

@{
    ViewData["Title"] = "Home Page";
}
@foreach (Review review in Model)
{
    <ul>
        <li>City: @review.City</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
